body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://www.freecodecamp.org/news/content/images/2023/03/pexels-maksim-goncharenok-5995230.jpg);
    background-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .input-container {
    margin: 15px 0;
  }
  
  input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 15px;
    margin: 7px;
    background-color: chocolate;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: coral;
  }
  